<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project. Join us to take quality air to the next level.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">CSE 477, Spring 2015</h5>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Team</h5>
                <ul>
                    <li>Jay Feng</li>
                    <li>William Hwang</li>
                    <li>Joseph Wu</li>
                    <li>Mingyu Zhang</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            UI based on <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
