<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>AtmoSPHERE</title>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/PREvent/javascripts/materialize.js"></script>
    <script src="/PREvent/javascripts/init.js"></script>
    <link href="/PREvent/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/PREvent/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
