<header>
    <h1><a href="/PREvent">PREvent</a></h1>
    <p>Jay Feng, William Hwang, Joseph Wu, Mingyu Zhang</p>
    <p>A wearable sensor for air-borne, long-term health risks</p>

    <p class="view">
        <a href="https://github.com/kaysoky/PREvent">Source Code<small>kaysoky/PREvent</small></a>
    </p>

    <p class="view">
        <a href="https://www.google.com/calendar/embed?src=oml584uniamsa8ihe1kano3v18%40group.calendar.google.com&ctz=America/Los_Angeles">Project Schedule</a>
    </p>

    <p>Weekly Lab Reports</p>
    <ul>
        <li><a href="/PREvent/2015/04/13/Lab Report 01.html">Week #1</a></li>
        <li><a href="/PREvent/2015/04/20/Lab Report 02.html">Week #2</a></li>
        <li><a href="/PREvent/2015/04/27/Lab Report 03.html">Week #3</a></li>
        <li><a href="/PREvent/2015/05/04/Lab Report 04.html">Week #4</a></li>
        <li><a href="/PREvent/2015/05/11/Lab Report 05.html">Week #4</a></li>
        <li>TBC</li>
    </ul>
</header>
