<header>
    <h1><a href="/PREvent">AtmoSPHERE</a></h1>
    <p>Jay Feng, William Hwang, Joseph Wu, Mingyu Zhang</p>
    <p>A wearable sensor for air-borne, long-term health risks</p>

    <hr>
    <p>Notables</p>
    <ul>
        <li><a href="#TODO">Final Report</a></li>
        <li><a href="https://github.com/kaysoky/PREvent">Source Code<small>kaysoky/PREvent</small></a></li>
        <li><a href="https://www.google.com/calendar/embed?src=oml584uniamsa8ihe1kano3v18%40group.calendar.google.com&ctz=America/Los_Angeles">Project Schedule</a></li>
        <li><a href="/PREvent/2015/05/27/Product Requirements Document.html">Product Requirements Document</a></li>
        <li><a href="/PREvent/2015/04/14/Bill of Materials.html">Bill of Materials</a></li>
        <li><a href="/PREvent/2015/04/12/Modified Project Proposal.html">Project Proposal</a></li>
    </ul>

    <hr>
    <p>Weekly Lab Reports</p>
    <ul>
        <li><a href="/PREvent/2015/04/13/Lab Report 01.html">Project Proposals and Planning</a></li>
        <li><a href="/PREvent/2015/04/20/Lab Report 02.html">Planning and Backend Software</a></li>
        <li><a href="/PREvent/2015/04/27/Lab Report 03.html">Hardware and Software</a></li>
        <li><a href="/PREvent/2015/05/04/Lab Report 04.html">Initial Assembly</a></li>
        <li><a href="/PREvent/2015/05/11/Lab Report 05.html">More Assembly</a></li>
        <li><a href="/PREvent/2015/05/18/Lab Report 06.html">Device and Android</a></li>
        <li><a href="/PREvent/2015/05/25/Lab Report 07.html">Integration and Testing</a></li>
        <li><a href="/PREvent/2015/06/01/Lab Report 08.html">Finalization</a></li>
    </ul>
</header>
