{% extends "rest_framework/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}

{% block body %}
<body class="container">

    <div class="container-fluid" style="margin-top: 30px">
        <div class="row-fluid">
            <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
                <div class="row-fluid">
                    <div>
                        <h3 style="margin: 0 0 20px;">{% block branding %}Django REST framework{% endblock %}</h3>
                    </div>
                </div><!-- /row fluid -->

                <div class="row-fluid">
                    <div>
                        {% block form %}
                            Put Form here...
                        {% endblock %}
                    </div>
                </div><!-- /.row-fluid -->
            </div><!--/.well-->
        </div><!-- /.row-fluid -->
    </div><!-- /.container-fluid -->
</body>
{% endblock %}
