{% extends "index.html" %}
{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}

{% block other_tabs %}
    <li><a href="/">Data Maps</a></li>
{% endblock %}

{% block dashboard_interior %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Average Values For Each Sensor</div>
                <canvas class="chart-stage" id="barChart" width="500" height="500"></canvas>
                <div class="chart-notes">Temperature, Humidity, PM, VOC</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Sensor Levels Hourly</div>
                <canvas class="chart-stage" id="hourChart" width="500" height="500"></canvas>
                <div class="chart-notes">X-axis Displays Hourly Intervals</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Humidity Levels</div>
                <canvas class="chart-stage" id="humiChart" width="500" height="500"></canvas>
                <div class="chart-notes">Timeline</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Temperature Levels</div>
                <canvas class='chart-stage' id="tempChart" width="500" height="500"></canvas>
                <div class="chart-notes">Timeline</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Particulate Matter 2.5 Levels</div>
                <canvas class="chart-stage" id="partChart" width="500" height="500"></canvas>
                <div class="chart-notes">Detects Smoke, Exhaust, and most air pollution</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">Volatile Organic Compound Levels</div>
                <canvas class="chart-stage" id="vocsChart" width="500" height="500"></canvas>
                <div class="chart-notes">X-axis represents date and time</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_specific %}
    <script src="{% static 'Chart.min.js' %}"></script>
    <script src="{% static 'chart-ui-main.js' %}"></script>
{% endblock %}
