{% extends "rest_framework/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}

{% block dashboard_theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'keen-dashboards.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'chart.css' %}" />
{% endblock %}

{% block body %}
<body class="application">
    <div class="wrapper">
        {% block navbar %}
            <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="container">
                    <span>
                        {% block branding %}
                            <a class="navbar-brand" rel="nofollow" href="/">
                                AtmoSPHERE
                            </a>
                        {% endblock %}
                    </span>
                    <ul class="nav navbar-nav pull-right">
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                {% optional_logout request user %}
                            {% else %}
                                <li><a href="register/">Register</a></li>
                                {% optional_login request %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        <div class="container-fluid">
            {% block dashboard_interior %}
                <div class="row">
                    <div class="col-sm-11">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Heat Map of Sensor Levels
                                <img id="spinner" src="{% static 'ajax-loader.gif' %}" alt="" />
                            </div>
                            <div id="time-type-buttons" class="btn-group-xs" style="display: inline">Show data from the last:
                                <button type="button" id="heat_time_day" class="btn btn-default active">24 Hours</button>
                                <button type="button" id="heat_time_week" class="btn btn-default">7 Days</button>
                                <button type="button" id="heat_time_all" class="btn btn-default">All Time</button>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="btn-group-xs" style="display: inline; margin-left: 3em">User:
                                    <button type="button" id="heat_user_me" class="btn btn-default">Just me</button>
                                    <button type="button" id="heat_user_all" class="btn btn-default active">All Users</button>
                                </div>
                            {% endif %}
                            <div class="btn-group-xs" style="display: inline; margin-left: 3em">Custom Filter:
                                <input name="filter" class="form-control textinput textInput" style="display: inline; width: auto" id="custom-filter" type="text">
                                <button type="button" id="submit-filter" class="btn btn-default">Submit</button>
                            </div>
                            <div id="sensor-type-buttons" class="btn-group-xs">Sensor type:
                                <button type="button" id="heat_type_PM" class="btn btn-default active">Particulates</button>
                                <button type="button" id="heat_type_VOC" class="btn btn-default">Volatile Organics</button>
                                <button type="button" id="heat_type_temp" class="btn btn-default">Temperature</button>
                                <button type="button" id="heat_type_humi" class="btn btn-default">Humidity</button>
                            </div>
                            <div class="chart-stage" id="map-canvas" style="height: 400px"></div>
                        </div>
                    </div>
                    <div id="legend" class="col-sm-1">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Legend
                            </div>
                            <div class="chart-stage" id="legendGradient" style="height: 445px">
                                <div style="position: absolute; top: 0%">None</div>
                                <div style="position: absolute; top: calc(33% - 0.5em)">Low</div>
                                <div style="position: absolute; top: calc(67% - 1em)">Medium</div>
                                <div style="position: absolute; top: calc(100% - 1.5em)">High</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">Timeline</div>
                            <div class="chart-stage" id="timeline" style="height: 500px"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">Histogram</div>
                            <div class="chart-stage" id="histogram" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block script %}
            <script src="{% static 'keen.min.js' %}"></script>
            <script src="{% static 'rest_framework/js/jquery-1.8.1-min.js' %}"></script>
            <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'rest_framework/js/prettify-min.js' %}"></script>
            <script src="{% static 'rest_framework/js/default.js' %}"></script>

            {% block script_specific %}
                <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
                <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
                <script src="{% static 'map-ui-main.js' %}"></script>
            {% endblock %}

            <script type="text/javascript">
                window.onload = loadUI;
            </script>
        {% endblock %}
    </div>
</body>
{% endblock %}
