{% extends "rest_framework/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}

{% block dashboard_theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'keen-dashboards.css' %}" />
{% endblock %}

{% block body %}
<body class="application">
    <div class="wrapper">
        {% block navbar %}
            <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="container">
                    <span>
                        {% block branding %}
                            <a class='navbar-brand' rel="nofollow" href='/'>
                                AtmoSPHERE
                            </a>
                        {% endblock %}
                    </span>
                    <ul class="nav navbar-nav pull-right">
                        {% block other_tabs %}
                            <li><a href="graphs/">Data Graphs</a></li>
                        {% endblock %}
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                {% optional_logout request user %}
                            {% else %}
                                <li><a href="register/">Register</a></li>
                                {% optional_login request %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        <div class="container-fluid">
            {% block dashboard_interior %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Heat Map of Sensor Levels
                            </div>
                            <div class='chart-stage' id="map-canvas" style="height: 400px"></div>
                            <div id="panel">
                                <button onclick="toggleTempMap()">Temperature</button>
                                <button onclick="toggleHumiMap()">Humidity</button>
                                <button onclick="toggleVocsMap()">Volatile Organic</button>
                                <button onclick="togglePartMap()">Particle 2.5</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block script %}
            <script src="{% static 'meta.js' %}"></script>
            <script src="{% static 'keen.min.js' %}"></script>
            <script src="{% static 'rest_framework/js/jquery-1.8.1-min.js' %}"></script>
            <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'rest_framework/js/prettify-min.js' %}"></script>
            <script src="{% static 'rest_framework/js/default.js' %}"></script>

            {% block script_specific %}
                <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
                <script src="{% static 'map-ui-main.js' %}"></script>
            {% endblock %}

            <script type="text/javascript">
                window.onload = loadUI;
            </script>
        {% endblock %}
    </div>
</body>
{% endblock %}
