<!doctype html>
<html>
    {% include header.html %}
    <body>
        <div class="wrapper">
            {% include navigation.html %}
            
            <section>{{ content }}</section>
            
            {% include footer.html %}
            <footer>
                <p>This project is maintained by <a href="https://github.com/kaysoky">kaysoky</a></p>
                <p><small>Hosted on GitHub Pages &mdash;</small></p>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>
    </body>
</html>