---
layout: default
---

<div class="container">
    {% if page.title != nil %}
        <h1 class="dark">{{ page.title }}</h1>
    {% endif %}

    {{ content }}

    <div class="row center">
        {% if page.previous != nil %}
            <a href="/PREvent{{ page.previous.url }}" class="btn-large waves-effect waves-light teal lighten-1">Previous Post</a>
        {% endif %}
        {% if page.next != nil %}
            <a href="/PREvent{{ page.next.url }}" class="btn-large waves-effect waves-light teal lighten-1">Next Post</a>
        {% endif %}
    </div>
</div>
